@import "default";
@import "normalize";

// colors //
$white: #ecf0f1;
$dark: #7A7D7E;
$bg: #ecf0f1;
$bg-dark: #272624;

// font-family //
$light: 300;
$bold: 700;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  position: relative;
  background: $bg;
  font-family: 'Work Sans', sans-serif;
}

p {
  letter-spacing: 0.02em;
}

button {
  margin-top: 5%;
}

//                           Nav                      //

.navbar {
  border-color: $bg;
  background: $bg;
  padding: 1% 5% 1% 5%;
  .navbar-brand {
    color: $dark;
  }
  #myNavbar > ul > li > a {
    color: $dark;
    :hover {
      color: $white;
    }
  }
}

//                           Header                      //
header {
  margin: 15% 20% 20% 20%;
  color: $dark;
  p:first-child {
    font-size: 1.3em;
    font-weight: $bold;
  }
  p:nth-child(2) {
    font-size: 2.5em;
    font-weight: $bold;
  }
  p:last-of-type {
    font-size: 1.2em;
    font-weight: $light;
  }
}

//                           About Me                      //
#about-me {
  width: 100%;
  padding: 20% 3%;
  background: $bg-dark;
  color: $dark;
  center {
    // border: 2px solid $dark;
    // padding: 8%;

  }
  p {
    font-size: 1.2em;
    font-weight: $light;
  }
}

//                           Portfolio                      //
#portfolio {
  color: $dark;
  section {
    margin: 1%;
    width: 370px;
  }
  h4 {
    font-size: 1.3em;
    font-weight: $bold;
  }
  h3 {
    font-size: 1.3em;
    font-weight: $bold;
  }
  p {
    font-size: 1.2em;
    font-weight: $light;
  }
}

.flex-container {
  display: flex;
  border: 10px solid red;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 100%;
}

//                           Footer                      //

footer {
  width: 100%;
  color: $dark;
  .panel-footer {
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    background: $bg-dark;
    h3 {
      font-size: 1.3em;
      font-weight: $bold;
    }
    p {
      margin-top: 3%;
    }
  }
  a {
    color: $white;
  }
}