@import "default";
@import "normalize";
// colors //
$white: #ecf0f1;
$dark: #909698;
$bg: #ecf0f1;
$bg-dark: #272624;
// font-family //
$light: 300;
$bold: 700;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background: $bg;
	font-family: 'Work Sans', sans-serif;
	width: 100%;
}

p {
	letter-spacing: 0.02em;
}

button {
	margin-top: 5%;
}

@import "extends";
@import "sections/nav";
@import "sections/header.scss";
@import "sections/about.scss";
@import "sections/portfolio.scss";
@import "sections/footer.scss";