//                           About Me                      //

#about-me {
  padding: 18% 6%;
  background: $bg-dark;
  color: $dark;
  text-align: center;

  .a-container {
    border: 2px solid $dark;
    padding: 6%;

    h2 {
      font-size: 2.5em;
      // font-weight: $bold;

      @media screen and (min-width:600px) {
        min-height: 60px;
        font-size: 4em;
      }

    }

    p {
      font-size: 1.2em;
      font-weight: $light;
    }

    button {
      @extend .buttons;
    }

    a {
      color: $dark;
      padding-bottom: 4px;

      &:first-child {
        border-bottom: 1px solid rgba(144, 150, 152, 0.4);
      }

      &:hover {
        text-decoration: none;
      }

    }

  }

}