body {
    background-color: #2a2f2f;
}

#calc {
    background-color: #fff;
    height: 410px;
    width: 220px;
    padding: 10px;
    border: 2px solid #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

a {
    position: absolute;
    color: whitesmoke;
    text-align: center;
    width: 194px;
    font-size: small;
    letter-spacing: 3px;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

a:hover {
    width: 195px;
    -webkit-animation: fade 2s 0.5s  forwards;
    -o-animation: fade 2s 0.5s  forwards;
    animation: fade 2s 0.5s  forwards;
}

@keyframes fade {
    0% {
        border-bottom: 1px solid rgba(245, 245, 245, 0.0);
    }

    100% {
        border-bottom: 1px solid rgba(245, 245, 245, 1);
    }

}

#input {
    width: 199px;
    height: 20px;
    padding: 5px 9px;
    text-align: right;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#equation {
    width: 207px;
    height: 26px;
    color: #FFFFFF;
    padding: 5px 5px 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

#head {

    /*    color: #2c2c2c;
        letter-spacing: 0.5px;
        text-align: center; */
    width: 150px;
    height: 12px;
    margin: 12px 40px 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    width: 45px;
    height: 45px;
    margin: 2px;
    color: rgba(0, 0, 0, 0.7);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0;
}

#numbers {
    width: 170px;
}

#del {
    width: 60px;
    float: right;
    position: relative;
    bottom: 147px;
    left: 102px;
}

#plus {
    width: 60px;
    float: right;
}

#zero {
}

#clear {
    float: right;
    width: 98px;
    position: relative;
    right: 65px
}

#equal {
    position: relative;
    top: -147px;
    width: 60px;
    height: 143px;
    float: right;
}