//                           Header                      //
header {
  height: 100vh;
  color: $dark;

  center {
    padding: 27% 15%;
  }

  p:first-child {
    min-height: 50px;
    font-size: 2.5em;
    font-weight: $bold;
  }

  p:nth-child(2) {}

  p:last-of-type {
    font-size: 1.2em;
    font-weight: $light;
  }
}
