//                           Nav                      //

.navbar {
  border-color: $bg;
  background: $bg;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1.5%;

  .navbar-brand {
    color: $dark;
  }

  #myNavbar > ul > li > a {
    color: $dark;

    :hover {
      color: $white;
    }
  }
}

.navbar-default .navbar-toggle {
  border: none;
}

.logo {
  position: absolute;
  top: 7px;
  width: 50px;
  margin-bottom: 32px;

  @media screen and (max-width: 600px) {
    position: absolute;
    top: 6px;
    width: 12%;
    margin-bottom: 32px;
  }
}