.about {
  grid-column: span 3;
  max-width: 500px;
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;

  @media screen and (min-width: 720px) {
    grid-column: 2 / 5;
  }

  h1,
  h2 {
    color: $black;
  }

  h1 {
    font-size: 1.4rem;
    font-family: $slab;
  }

  h2 {
    font-size: 1rem;
    font-family: $slab;
  }

  p {
    color: $grey;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-family: $roboto;
  }
}
