.description {
  height: 100%;
  display: grid;
  grid-template-rows: 200px 1fr;

  .home {
    cursor: pointer;
  }


  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    grid-row: 1;
  }

  .left {
    width: 100%;
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;

    .top {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      align-self: flex-start;
      margin-top: 20px;
      width: 100%;

      button {
        user-select: none;
        cursor: pointer;
        border: none;
        font-size: 1.1rem;
      }

      b {
        color: $black;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    .title {

      h2 {
        font-family: $slab;
        padding: 0 20px;
        font-size: 1rem;
        margin-bottom: 10px;
      }

      div {
        display: flex;
        justify-content: space-around;
      }
    }


    p {
      font-family: $roboto;
      padding: 0 20px 10px 20px;
      color: $grey;
      font-size: 0.8rem;
      letter-spacing: 0.2px;
      line-height: 1.5;
    }

    ul {
      padding: 0 20px;
      font-family: $roboto;
      color: $grey;
      letter-spacing: 0.2px;
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 10px;

      li {
        list-style: none;
        justify-self: center;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .description {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;

    img {
      grid-column: 1;
    }

    .left {
      grid-column: 2;
      grid-row: 1;

      .title {
        h2 {
          font-size: 2rem;
        }
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
