.jobs {
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;

  @media screen and (min-width: 820px) {
    // grid-area: 1 / 5 / -1 / -1;
    grid-column: 3;
    grid-row: initial;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .job {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &:nth-child(1n) {
      background: $purple url('https://github.com/CarlosMed/portfolio/blob/master/img/saf-expo-landing.png?raw=true')
        center no-repeat;
      background-size: cover;
    }

    &:nth-child(2n) {
      background: $purple url('https://github.com/CarlosMed/portfolio/blob/master/img/the-trailer-store.png?raw=true')
        center no-repeat;
      background-size: cover;
    }

    &:nth-child(3n) {
      background: $darkPink;
    }

    &:nth-child(4n) {
      background: $darkPink url('https://source.unsplash.com/random?v=2')
        center no-repeat;
      background-size: cover;
    }

    p {
      grid-area: 2 / 3 / 3 / -1;
      margin: 0;
      align-self: end;
      justify-self: end;
      margin-right: 20px;
      margin-bottom: 10px;
      color: white;
      font-family: $roboto;
    }

    span {
      grid-area: 1 / 1 / 2 / 2;
      background: white;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
